.desc {
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.t1 { /* Pinyin */
    background-color: #e5eef5;
    padding: 10px 10px 10px 30%;
    border-radius: 5px;
    margin-top: 3px;
    font-family: Arial, sans-serif;
}

.t0 { /* Mandarin */
    background-color: #eef6ff;
    padding: 10px 10px 10px 30%;
    border-radius: 5px;
    font-family: "SimSun", serif;
    font-size: 1.4em;
}

.t2 { /* English */
    background-color: #e5eef5;
    padding: 10px 10px 10px 30%;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 34px;
    font-family: Arial, sans-serif;
}

.play-button {
    display: inline; /* Display inline like text */
    cursor: pointer; /* Show pointer cursor on hover */
    border: none; /* Remove any border */
    margin-right: 10px;
    background: none; /* Remove background */
    line-height: inherit; /* Keep line-height consistent */
}

.counter {
    padding: 5px;
    background-color: #dbecff;
    font-size: 1.2em;
    font-family: "Arial", serif;
}

.english {

}

.breakdown-table {
    margin-top: 10px;
    max-width: 650px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.breakdown-table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.component {
    font-size: 1.3em;
    white-space: nowrap;
}

.note {
    margin-top: 10px;
    max-width: 650px;
}

.word-by-word {
    margin-top: 10px;
    max-width: 650px;
}

.pinyin rt {
    font-size: 0.8em;
}

.explanation {
    padding-left: 8px;
}
